@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 615px) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 2rem 0;
  text-transform: uppercase;
}

.container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.image__container img {
  height: 15rem;
  width: auto;
  margin-right: 3rem;
}

.wrong-container {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.wrong-container p {
  margin-bottom: 0.5rem;
}

.wrong-container span {
  font-size: 2rem;
}

.word {
  display: flex;
  flex-wrap: wrap;
}

.letter {
  border-bottom: 3px solid #000;
  text-align: center;
  font-size: 3rem;
  margin: 2rem 2rem;
  height: 5rem;
  width: 2rem;
}

@media only screen and (max-width: 445px) {
  .letter {
    font-size: 2rem;
    margin: 1rem 1rem;
  }
}

.popup-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  align-items: center;
  justify-content: center;
}

.popup {
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
}

@media only screen and (max-width: 445px) {
  .popup {
    padding: 1rem;
    font-size: 1.6rem;
  }
}

.buttons__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.buttons {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #606060;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: inherit;
  font-size: 20px;
  padding: 6px 8px;
  margin: 0.5rem;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}

.clicked {
  background: linear-gradient(to bottom, #ffffff 5%, #ffffff 100%);
  border: none;
  cursor: not-allowed;
}
