@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 2rem 0;
  text-transform: uppercase;
}

.container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.image__container img {
  height: 15rem;
  width: auto;
  margin-right: 3rem;
}

.wrong-container {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.wrong-container p {
  margin-bottom: 0.5rem;
}

.wrong-container span {
  font-size: 2rem;
}

.popup-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  align-items: center;
  justify-content: center;
}

.popup {
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
}
